.message {
     position: relative;
     display: inline-block;
     background: #ff9158;
     border-radius: 30px;
     padding: 16px;
     font-weight: bold;
     color: #fff;
}

.sent {
    /* display: flex; */
  text-align: left;
}

.received {
    /* display: flex; */
    text-align: right;
}

.other-user-message .username {
  text-align: left;
}

.current-user-photo {
    float: right;
}

.other-user-photo {
    float: left;
}