.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  /* justify-content: center; */
  /* height: 100vh; */
}

img {
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    margin-bottom: 10px;
}